<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      MENÚ
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="contenedor">
<!---------------------------------NFC BOTÓN---------------------------------------------->
  <div class="Menu_NFC">
      <ion-card>
      <ion-item>
        <ion-icon name="qr-code-outline" src="assets\svg\qr-code-outline.svg" slot="start"></ion-icon>
        <ion-label>AVIGestor</ion-label>
        <!---<ion-button fill="outline" slot="end" (click)="nuevoRegistro()">NFC</ion-button>---->
      </ion-item>

      <ion-card-content>
       BIENVENIDOS a AVIGestor
      </ion-card-content>
      <div class="logo_Daps">
        <img src= "assets\daps\SrPollo.jpeg">
        </div>
    </ion-card>
  </div>


</ion-content>
