<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      MENÚ
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="contenedor">
<!---------------------------------NFC BOTÓN---------------------------------------------->
  <div class="Menu_NFC">
      <ion-card>
      <ion-item>
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>SCANNER</ion-label>
        <ion-button fill="outline" slot="end">NFC</ion-button>
      </ion-item>

      <ion-card-content>
       BIENVENIDOS A REGISTER-DAPS, PRESIONAR BOTÓN NFC PARA SCANNEAR NFC Y CREAR NUEVO REGISTRO
      </ion-card-content>
      <div class="logo_Daps">
        <img src= "assets\daps\NFC.jpg">
        </div>
    </ion-card>
  </div>


</ion-content>
