*{
    font-family: lato;
}

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: orange;
    background: linear-gradient(90deg, chocolate 0%, orange 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{

    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img {

        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px salmon;
        margin-right: 14px;
    }

    h2{
        font-weight: 300;
        color: brown;
    }

    p{
        font-size: 12px;
        color: wheat;
        font-weight: 100;
        letter-spacing: 0.4px;
    }

}

.menu{
    margin: 0px;
    ion-icon {
        margin-right: 5px;
        font-size: 20px;
        font-weight: 50;
        letter-spacing: 0.4px;
    }

    ion-item{
        padding-left: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 0.4px;

    }

    ion-button{
        padding-left: 5px;
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 0.4px;

    }

}
