<ion-app>

  <!-------------------------------------HAMBURGUESA MENU---------------------------------------->
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>  <!-- PALABRA MENU EN LA PANTALLA MENU DE LA AMBURGUESA-->
      <div class="header-content">
        <a slot="start" color="light" (click)="closeMenu()" >
          <img src= "assets\daps\1.png" alt="">
        </a>

        <ion-label>
          <h2>BODEGA MATERIALES</h2>
          <P>INGENIERÍA AGRÍCOLA</P>
        </ion-label>
      </div>
  <!---------------------------------LISTA DE OPCIONES MENU-------------------------------------->
  <div class="menu">
<!---------------------------------
  <ion-item>
    <ion-button slot="start" color="light">
    <ion-icon name="checkmark-sharp" slot="end"></ion-icon>
    </ion-button>
    <ion-label>Nuevo Registro</ion-label>
  </ion-item> -------------------------------------->

  <ion-item>
    <ion-button [routerLink]="['/inventario']" slot="start" color="light" (click)="closeMenu()">
      <img src= "assets\daps\Inventario.jpg" alt="">
    </ion-button>
    <ion-label>Inventario General</ion-label>
  </ion-item>

  <ion-item>
    <ion-button [routerLink]="['/historico']" slot="start" color="light" (click)="closeMenu()">
      <img src= "assets\daps\Historico.jpg" alt="">
    </ion-button>
    <ion-label>Historico Registro</ion-label>
  </ion-item>

  <ion-item>
    <ion-button [routerLink]="['/nuevo-material']"  slot="start" color="light" (click)="closeMenu()">
      <img src= "assets\daps\nuevo.png" alt="">
    </ion-button>
    <ion-label>Nuevo Material</ion-label>
  </ion-item>

  <ion-item>
    <ion-button slot="start" color="light" routerLink="/login" (click)="closeMenu()">
      <img src= "assets\daps\salir.png" alt="">
    </ion-button>
    <ion-label>Salir</ion-label>
  </ion-item>


</div>

</ion-content>
  </ion-menu>
  <!--------------------------------------------------------------------------------------------->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
