<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']" >
        <ion-icon slot="icon-only" name="home" src="assets\svg\home.svg">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>NUEVO REGISTRO</h2>
  </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>

  <div class="Menu_Registro">

      <ion-list>
        <ion-item>
          <ion-badge color="dark">ID_USUARIO: </ion-badge>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>

      <ion-item lines='none'>
      <ion-input [(ngmodel)]='Usuario'placeholder='FICHA'></ion-input>
      </ion-item>

    <ion-list>
      <ion-item>
        <ion-badge color="warning">ID_MATERIAL: </ion-badge>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-badge color="dark">DESCRIPCION: </ion-badge>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-badge color="warning">EXISTENCIA: </ion-badge>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>

    <ion-item lines='none'>
    <ion-input [(ngmodel)]='Usuario'placeholder='CANTIDAD_ENTREGAR:'></ion-input>
    </ion-item>
</div>

  </ion-header>

<div class="Boton_Guardar">
  <ion-button color="danger">
    GUARDAR
    <ion-icon name="cloud-upload-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>
