<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']">
        <ion-icon slot="icon-only" name="home">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>HISTORICO REGISTRO</h2>
  </div>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngFor="let registro of registros">
    <ion-item>
      <label>
      <h8>Id_Usuario: {{registro.Id_Usuario}}<br></h8>
      <h8>Id_Material: {{registro.Id_Material}}<br></h8> 
      <h8>Descripcion: {{registro.Descripcion}}<br></h8>
      <h8>Ficha: {{registro.Ficha}}<br></h8>
      <h8>Cantidad_Entregada: {{registro.Cantidad_Entregada}}<br></h8>
      <h8>Cantidad_Existente: {{registro.Cantidad_Existente}}<br></h8>
      <h8>Fecha_Entrega: {{registro.Fecha_Entrega}}<br></h8>
      </label>
    </ion-item>
  </ion-list>

</ion-content>
