<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']">
        <ion-icon slot="icon-only" name="home" src="assets\svg\home.svg">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>HISTORICO REGISTRO</h2>
  </div>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngFor="let registro of registros">
    <ion-item>
      <ion-label>

        <h6>Id Registro: {{registro.Id_Registro}}<br></h6>
        <h6>Id Material: {{registro.Id_Material}}<br></h6>
        <h6>Descripcion: {{registro.Descripcion}}<br></h6>
        <h6>Ficha: {{registro.Ficha}}<br></h6>
        <h6>Empleado: {{registro.Empleado}}<br></h6>
        <h6>Cantidad Entregada: {{registro.Cantidad_Entregada}}<br></h6>
        <h6>Cantidad Existente: {{registro.Cantidad_Existente}}<br></h6>
        <h6>Fecha de Entrega: {{registro.Fecha_Entrega}}<br></h6>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
