.Titulo_1{ 
    h2{
        font-weight: 200;
        color: brown;
        font-weight: 20;
        letter-spacing: 0.4px;
        font: oblique bold 120% cursive;
        font-family: Arial;
        font-size: 100%;
        margin-left: 50px;
    }}

    .Boton_Guardar{
        margin-left: 70px;
        font-family: cursive;
        font-size: 300%;
    }

    img{
        width: 30px;
        height: 30px;
    }    