<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']">
        <ion-icon slot="icon-only" name="home">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>NUEVO MATERIAL </h2>
  </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>

  <div class="Menu_Registro">

      <ion-list>
      <ion-item>
      <ion-input [(ngmodel)]='Usuario'placeholder='ID_MATERIAL'></ion-input>
      </ion-item>
    </ion-list>

      <ion-list>
        <ion-item>
        <ion-input [(ngmodel)]='Descripcion_Material'placeholder='DESCRIPCION'></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
        <ion-input type="number" [(ngmodel)]='CANTIDAD_EXISTENTE'placeholder='CANTIDAD EXISTENCIA'></ion-input>
        </ion-item>
      </ion-list>

    <ion-list>
      <ion-item>
        <ion-badge color="dark">ID_NFC: </ion-badge>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>

</div>

  </ion-header>

<div class="Boton_Guardar">
  <ion-button color="danger">
    GUARDAR
    <ion-icon name="cloud-upload-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>
