<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']" >
        <ion-icon slot="icon-only" name="home">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>INVENTARIO GENERAL</h2>
  </div>

  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card-header>
  Explorar
  <div>
    <ion-list>
      <ion-item *ngFor="let material of materiales">
        {{material.Id_Material}} - {{material.Id_Tarjeta_NFC}} - {{material.Descripcion}} -{{material.Cantidad_Existente}}
      </ion-item>
    </ion-list>
  </div>

</ion-card-header>


</ion-content>
